/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.line-through {
    text-decoration: line-through;
}
.selected-day{
    background: #6c757d!important;
    cursor: pointer;
}
